extends layout

block content
  div.d-flex.flex-column
    h1= title

    
    div.d-flex.flex-wrap
      each movie in movie_list
        if movie.cover
          div.img-container
            a(href=movie.url)
              img.list(src=movie.cover)
      
    div Other:
      ul
        each movie in movie_list 
          if !movie.cover
            li 
              a(href=movie.url) #{movie.title}



  