extends layout

block content


    h1= movie_detail.title 
    p= movie_detail.year_made 
    p= movie_detail.director
    p= movie_detail.category
    p= movie_detail.summary

    p
      a(href="#") Delete Movie

    p
      a(href="#") Update Movie

    if movie_detail.cover
        img(src=movie_detail.cover)
    

    
