extends layout

block content
  div.d-flex
    if movie_detail.cover
        img(src=movie_detail.cover)
    div.d-flex.flex-column.m-3
      h2= `${movie_detail.title} (${movie_detail.year_made})`
      p= `Directed by ${movie_detail.director}`
      p= movie_detail.category
      p= movie_detail.summary
      div.d-flex
        p.p-1
          a(href= `${movie_detail.url}/movie_delete`) Delete Movie

        p.p-1
          a(href=`${movie_detail.url}/movie_update`) Update Movie

    

    
